/* SECTION 1*/
main section:nth-of-type(1){
    background-color: var(--color-background-one);
    color: var(--color-text-one);

    height: max-content;


}

main section:nth-of-type(1) img{
    background-color: var(--color-background-eight);
    color: var(--color-text-one);

    background-color: #A2D45E;
    max-width: 100%;

}

main section:nth-of-type(1) p, main section:nth-of-type(1) h2, main section:nth-of-type(1) a{
   margin: .5em;
  
}




/* SECTION 1 responsive */
@media (min-width: 970px) {

  main section:nth-of-type(1) {
    background-color: var(--color-background-eight);
    color: var(--color-text-one);

    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;

    gap:10px;
    


  }

  main section:nth-of-type(1) h2 {
    grid-column: 1/2;
    position: absolute;
    top:1em;

    font-size: 2.5rem;

    padding: 0.5em;

    

  }

  main section:nth-of-type(1) p{

    grid-column: 1/2;
    position: absolute;
    top:11em;
    font-size: larger;

    padding:1em;

    

  }

  

  main section:nth-of-type(1) img{
    grid-column: 2/3;

  }

}




/* SECTION 2*/
main section:nth-of-type(2){

    background-color: var(--color-background-two);
    color: var(--color-text-two);
    margin: 1em;


    

}

/*list items decoratie none*/
main section:nth-of-type(2) ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;


}

/*list items decoratie none*/
main section:nth-of-type(2) li{
   list-style-type: none;
   flex-basis: 13em;/*meestal bij container hoeveel plek het ruimte neem ik heb code van Sanne geleerd bij eerste opdracht flex*/
   width: 44%;

   animation: swing 3s linear infinite alternate;

   /*hier moet je items goed doen voor responsive*/
}

@keyframes swing{
  from{
    transform:rotate(5deg);
  }

  to{
    transform:rotate(-5deg);
  }
}

/*animation heb ik bij een youtube video gevonden en dat is https://www.youtube.com/watch?si=77dCpLCI8BpnGR0d&v=vldjgh3KzTE&feature=youtu.be*/



main section:nth-of-type(2) li h3{
    
   line-height: 2rem;
   font-size: 0.8rem;


   
}


main section:nth-of-type(2) img{
  border-radius: 1em;
  width: 200px;
  

}

main section:nth-of-type(2) a{
  
  text-decoration: none;
  background-color: #ffbc0e;
  border-radius:  40em;
  padding: .25em 1em;
  color: #111;




}

/* SECTION 2 list items responsive*/
@media (min-width: 1200px) {

  main section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 50px 10px;/*niet vergeten dat het eerste voor row is en dan voor column*/
    
    
  }

  main section:nth-of-type(2) li {
    width: 400px;

    
  }

  main section:nth-of-type(2) img {
    
    width: 400px;
    
  }

  main section:nth-of-type(2) h3{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    
  }

  main section:nth-of-type(2) a {
    
    font-size: 1.5rem ;
    
  }



}

/* SECTION 3*/

main section:nth-of-type(3){
  background-color: #3CABD9;
  padding-bottom: 2em;
}

main section:nth-of-type(3) a{
  text-decoration: none;
  background-color: #ffbc0e;
  border-radius:  40em;
  padding: .25em 1em;
  color: #111;


  margin: 1em;

 


  

}


main section:nth-of-type(3) h2,main section:nth-of-type(3) p{
  
  
  margin: 1em;

}

/* SECTION 3 responsive*/
@media (min-width: 970px) {

  main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 0;
    
  }

  main section:nth-of-type(3) article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    
  }

  main section:nth-of-type(3) a{
    font-size: 1.3rem;
    
  }

  main section:nth-of-type(3) h3{
    font-size: 4rem;
    
  }
  main section:nth-of-type(3) p{
    font-size: 1.4rem;
    
  }



}



/* SECTION 4*/

main section:nth-of-type(4){
  padding: 1em;
}


main section:nth-of-type(4) ul {
  list-style-type: none;
}

main section:nth-of-type(4) ul li{
  margin: 1em;
  
  
}

main section:nth-of-type(4) ul li img{
  border-radius: 1em;
  
  
}

main section:nth-of-type(4) a{
  text-decoration: none;
  background-color: #ffbc0e;
  border-radius:  40em;
  padding: .25em 1em;
  color: #111;

}


/* SECTION 4 responsive*/
@media (min-width: 970px) {

  main section:nth-of-type(4) ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
    
  }

  main section:nth-of-type(4) h3{
    line-height: 2rem;
    font-size: 2rem;

    
  }

  main section:nth-of-type(4) p{
    line-height: 2rem;
    font-size: 1.7rem;

    
  }

  main section:nth-of-type(4) a{
    font-size: 1.5rem;

    
  }

}




















/*animatie https://www.youtube.com/watch?si=77dCpLCI8BpnGR0d&v=vldjgh3KzTE&feature=youtu.be*/

