/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


img{
  display:block;
  width: 100%;

}

main section{
  margin: 0%;
  padding: 0%;
  background-color: var(--colorbody);
  color: var(--color-heading);
}

body{
  margin:0;
  background-color: var(--color-background-one);
  color: var(--color-heading);
}

h1, h2, h3, h4{
  margin:0;
  padding:0;
}


/* hier heb ik chatgpt gebruikt hoe kan ik visual hidden verbergen. ik had het al bij de code van Sanne maar dat is voor een andere plek en ik begrijp hem*/
.visually-hidden2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* fonts */

@font-face {
  font-family: 'ChunkRethunk';
  src: url('../fonts/chunk-rethunk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

p , a {
  font-family: 'ProximaNova', sans-serif;
}


a{
  font-weight: bold;
}

h1 , h2 , h3 , nav ul li a {
  
  font-family: 'ChunkRethunk', sans-serif;
}





/*************/
/* DE HEADER */
/*************/
header {
  /* JOUW CODE HIER - stap 3 */
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  position:sticky;
  top:0;
  /*background-color: white;*/
  
  background-color: var(--colorheading);
  color: var(--color-text-one);
  


}

header a:nth-of-type(1) img{
	width: 10em;
  margin: 1rem .85rem .7rem 0;
  padding: 10px;
}

/* search button */
header a:last-of-type{
	width: 3em;
    margin: 1rem .85rem .7rem 0;
    padding: 10px;
}


/***************/
/* MENU BUTTON */
/***************/
header > button {
  /* JOUW CODE HIER - stap 3 */
  order:1;
}







/* van mijn oude code en hoe je focus gebruikt heeft me student asisstent laten zien*/
header button:focus{
  border: #FFBC0E 2.5px solid;
  border-radius: 50%;
  height: 3em;
  width: 3em;

  


}

header button {
  border: none;
  outline: none;
  background: none;
  width: 3em;
  


}

header button img{
  max-width: 100%;
  max-height: 100%;
  filter: brightness(0%);
  
}


/*voor de img verberger als scherm klein is
ik heb het met max-width gedaan omdat ik wil zien als mijn scherm groot is */

/****************************************************************/
@media (max-width:970px) {
 
  header a:nth-of-type(2){
    display: none;
  }
}




/************/
/* HET MENU */
/************/
nav {
  /* JOUW CODE HIER - stap 1 */
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  
  /* JOUW CODE HIER - stap 2 */
  translate:-100% 0%;
  
  /* JOUW CODE HIER - stap 4 */
  transition:translate .3s;
  background-color: var(--colornav);
  color: var(--color-text-five);

  z-index:2; /*ik had probleempje met mijn code dat menu buttonboven op komt dat heb ik hulp van chatgpt opgelost alleen deze regel*/
}



nav ul li {
    /* JOUW CODE HIER - stap 8 */
	list-style-type: none;
  height: 5em;
  
}

nav ul li a{
    text-decoration: none;
    color: var(--color-text-nine);
  
}

header nav ul li a:hover {

	text-decoration: underline; 
  color: var(--color-text-ten);
}
  

nav ul li a{
  font-size: larger;
}

/* als menu open is */
nav.toonMenu {
  /* JOUW CODE HIER - stap 4 */
  translate:0% 0%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} /* Code van Sanne*/



header form {
  display:flex;
  flex-direction: row-reverse;/*toen lukte search button niet naar recht te schruiven ik heb aan chatgpt opties gevraagd*/

}

header form input {
  width:0;
  flex-grow:1;

  appearance:none;
  
  background:rgb(255, 255, 255);
  
  font:inherit;
  
  padding:.9em;
  
  border-radius:.5em;
  
  position: relative;

}

header form button {
  appearance:none;
  
  border:none;
  
  font:inherit;
  background: none;
  
  padding:.5em;
  
  
  border-radius:0 0.5em 0.5em 0;
 
}

header form img{
	width: 3em;
}



/*footer*/
footer form {
  display:flex;

  
}

footer form input {
  width:0;
  flex-grow:1;

  appearance:none;
  
  border:none;
  background:rgb(254, 255, 254);
  
  font:inherit;
  
  

  padding:.9em;
  
  border-radius:0.5em 0 0 0.5em;
  
  

}

footer form button {
  appearance:none;
  
  border:none;
  background:rgb(251, 211, 33);
  
  font:inherit;
  
  padding:1em;
  
  border-radius:0 0.5em 0.5em 0;
  margin-right: .5em;

  font-weight: bold; /*om de tekst dikker te maken  https://www.google.com/search?q=hoe+kan+je+een+tekst+dikker+maken%3F+css&sca_esv=51ec4053a4264fda&sxsrf=AE3TifML_fyniLg_9tLXbMZNnG_JGiun7A%3A1763370231110&ei=9-Qaaa3CBtP4i-gP0qqH0Q0&ved=0ahUKEwjtme6B6viQAxVT_AIHHVLVIdoQ4dUDCBE&uact=5&oq=hoe+kan+je+een+tekst+dikker+maken%3F+css&gs_lp=Egxnd3Mtd2l6LXNlcnAiJmhvZSBrYW4gamUgZWVuIHRla3N0IGRpa2tlciBtYWtlbj8gY3NzSABQAFgAcAB4AZABAJgBAKABAKoBALgBA8gBAPgBAZgCAKACAJgDAJIHAKAHALIHALgHAMIHAMgHAA&sclient=gws-wiz-serp*/
  
  
}

footer form img{
	width: 0.5em;
}

/*ik heb hierbij van de docent Sanne hulp gekregen bij input css code*/



/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width:970px) {
  header > button {
    /* JOUW CODE HIER - stap 6 */
    display:none;
  }
  
  nav {
    /* JOUW CODE HIER - stap 7 */
    position:static;
    translate:unset;
    padding:0;
    
    background:none;
  }
  
  nav button {
    /* JOUW CODE HIER - stap 6 */
    display:none;
  }
  
  nav ul {
    /* JOUW CODE HIER - stap 8 */
    display:flex;
    gap:1em;
    
  }
  header nav ul li{
    align-items: center;
    align-content: center;
    
  }
  
  nav a {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
    
    border:none;
  }
  
  header > a:last-of-type {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
  }
  header input{
    display: none;
  }
}



/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/






/****************************************************************/
/* Dark Mode */
/****************************************************************/





@media (prefers-color-scheme:light)  {
  :root {
    --color-text-one: #000000;
    --color-text-two: #000000;
    --color-text-three: #ffffff;
    --color-text-four: #000000;
    --color-text-five: #000000;
    --color-text-six: #ffffff;
    --color-text-seven: #002f87;
    --color-text-eight: #ffffff;
    --color-text-nine:#000000;
    --color-text-ten:#002f87;


    --color-background-one: #ffffff;
    --color-background-two: #FCFDF8;
    --color-background-three:#201460;
    --color-background-four: #ffffff;
    --color-background-five: #C4E7F3;
    --color-background-six: #2a5729;/*footer*/
    --color-background-seven: #002f87;
    --color-background-eight:#A2D45E;


    --colornav:white;
    --colora:#ffffff;
    --colorheading:white;
    --colorbody:white;

    



  
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-text-one: #ffffff;
    --color-text-two: #ffffff;
    --color-text-three: #ffffff;
    --color-text-four: #ffffff;
    --color-text-five: #ffffff;
    --color-text-six: white;
    --color-text-eight:white;
    --color-text-nine: white;
    --color-text-ten:#002f87;

    --color-background-one: #000000;
    --color-background-two: #000000;
    --color-background-three:#000000;
    --color-background-four: #000000;
    --color-background-five: #000000;
    --color-background-six: #000000;/*footer*/
    --color-background-eight:#A2D45E;

    --colornav:#000000;
    --colora:white(0, 0, 0);
    --colorheading:white(0, 0, 0);

    
  


  
  }

  header button img{
   filter: brightness(80%);
   /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/brightness*/
  
  }
  header nav ul li a{
   filter: brightness(100%);
   color: white;

  }
}

/* Darkmode 
https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode
https://www.youtube.com/watch?v=_gKEUYarehE
en de hulp van een student asistent */




/*SECTION 5 dolgraag*/
main section:nth-of-type(5){
  background-color: var(--color-background-five);
  color: var(--color-text-five);

  text-decoration: none;
  padding: 0.5em;
  


}

/*DOLGRAAG SECTION 5*/
main section:nth-of-type(5) ul li{
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px 20px;

  padding: 2em;

}

main section:nth-of-type(5) li img{
  grid-column: 1 / 2;
  grid-row: 1/3;
  width: 80px;
  
}

section:nth-of-type(5) li h3, section:nth-of-type(5) li p , section:nth-of-type(5) li a{
  grid-column: 2 / 3;
  margin: 0;
  

  
}

/*hierbij heb ik hulp gekregen bij student asisstent Maja hoe je grid gebruikt daarna begrijpte ik alle grid*/



main section:nth-of-type(5) ul{

  padding: 0.5em;
  
}

main section:nth-of-type(5) h2{

  font-size: 2em;
  
}




/*desktop dolgraag*/
@media (min-width: 970px) {

  main section:nth-of-type(5) {
    height: 600px;
    
  }
  main section:nth-of-type(5) ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em; 
  }

  /*voor de waarde van grid https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Basic_concepts*/

  main section:nth-of-type(5) h3, main section:nth-of-type(5) p, main section:nth-of-type(5) a{
    font-size: 1.25rem;
    
  }
  
}

/*desktop dolgraag*/
@media (max-width: 970px) {

  main section:nth-of-type(5) {
    height: 900px;
    
  }
  
  
}

 





/*FOOTER*/

footer {
  background-color: var(--color-background-six);
  color: var(--color-text-six);
  height:1000px;


}

footer section{
  padding:1.5em;
}

/*footer alle font size regelen*/

footer h2{

  font-size: 1rem; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/font-size*/
}




footer ul {
  padding: 0;

}

/*alle kleur van footer weghalen*/
footer a {
  color: var(--colora);
  text-decoration: none;
}


/*Footer eerste section*/

footer section:nth-of-type(1){
  position: relative; /*dit is hier omdat ik wilde mijn koe image niet in hele body positioneren maar in de section 1*/
  padding-top: 9rem; 

}

footer section:nth-of-type(1) img:nth-of-type(1){

  /*margin-top: 13em;/*voor de koe ruimte geven*/

  position: absolute;
  width: 200px;
  right: 4rem;
  top:-7em;

  

}
/*Hierbij heb ik code van Sanne gebruikt voor de koe image pasitioneren*/







/*koe image responsive maken zodat hij weer naar rechts kan*/

@media (min-width: 970px) {
  footer section:nth-of-type(1){

    position: relative;
    padding-top: 1.3em;
    /*na koe image werk de pagina weer met padding ik heb hem hier weggehaald voor de responsive van de site*/


  }


  body footer section:nth-of-type(1) img:nth-of-type(1)  {

    position: absolute;
    
    left:72rem; /*code van Sanne werkgroep 6 voorbeeld 3 position*/
    max-width:10em;


  }

  body footer section:nth-of-type(1) button img{

    position: sticky;
    left:72rem; /*code van Sanne werkgroep 6 voorbeeld 3 position*/
    max-width:10em;


  }


}


/*Footer tweede section*/
footer section:nth-of-type(2){

  display: flex;
  flex-direction: column;
  gap: 1em;
  /*ik heb aan chatgpt gevraagd hoe kan ik zonder padding en margin gap gebruiken ik moest flexbox geven*/

  
}

footer section:nth-of-type(2) ul {
  list-style-type: none;
  width: 45%;
  display: flex; /*om img naast elkaar te krijgen*/
}



/*Footer derde section*/

footer section:nth-of-type(3) ul {
  list-style-type: none;
  
  
}

/*Footer vierde section*/


footer section:nth-of-type(4) ul:nth-of-type(1){
  list-style-type: none;
  display: flex;
}

/*Footer vierde section nederlandse vlag width geven*/
footer section:nth-of-type(4) img {
  width: 30px;
  margin: 0.3em;
  
  
}


/*Footer vierde section nederlandse vlag width geven*/

footer section:nth-of-type(4) ul:nth-of-type(2) {
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 13fr;
  grid-template-rows: auto auto auto ;

  gap: 1em;

}


/*Footer responsive maken  */
@media (min-width: 970px) {
  footer {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px;

    gap: 60px 20px;

    font-size: larger;
    line-height: 1.35em;/*van echte website gekoppierd*/
    word-spacing: 3px; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/word-spacing*/
    height: 700px;
  }

  footer h2{
    font-size: 1.5rem;
  }
  
}
















/*

bronnen tijdens leren waar ik heb gekeken heb
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/article
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Basic_concepts
https://www.youtube.com/results?search_query=iki+fotografi+ust+uste+kullanmak+css
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/label
https://www.w3schools.com/cssref/pr_background-image.php
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/object-position 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/background-image
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/a
https://www.w3schools.com/html/html_form_input_types.asp

*/


